@font-face {
    font-family: "Cascadia Next";
    src: url("CascadiaNextSC.woff2") format('woff2'),
        url("CascadiaNextSC.woff") format('woff'),
        url("CascadiaNextSC.tt'") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#page {
    display: none;
    z-index: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

hr {
    border-color: black;
}

div:has(> code) {
    background-color: black;
    color: white;
    width: 400px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}

code {
    font-family: "Cascadia Next", monospace !important;
}

div:has(> blockquote) {
    background-color: rgba(255, 255, 255, 30%);
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
}

blockquote p::before {
    content: "\201C";
}

blockquote p::after {
    content: "\201D";
}

blockquote + p {
    text-align: right;
}

ul {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.light-background,
.dark-background {
    background-color: var(--end-stop);
    background-image: linear-gradient(var(--start-stop), var(--end-stop));
    background-size: 100% 20%;
    background-repeat: no-repeat;
    transition: --start-stop 0.5s, --end-stop 0.5s;
}

.light-background {
    --start-stop: white;
    --end-stop: #cbdbfc;
}

.dark-background {
    --start-stop: black;
    --end-stop: #3f3f74;
}

.logo {
    width: 10%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.gradient-text0 {
    background: linear-gradient(to bottom right, blue, cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text1 {
    background: linear-gradient(to bottom right, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.black-text {
    color: black;
    transition: color 0.5s;
}

.white-text {
    color: white;
    transition: color 0.5s;
}

.adaptive-text {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--end-stop);
    transition: color 0.5s;
}

.lang-button {
    border: none;
    padding: 0.6em;
    cursor: pointer;
    background-color: transparent;
    color: cornflowerblue;
    font-size: 20px;
    font-weight: bold;
}

.theme-button {
	border-radius: 16px;
    border: none;
	display: inline-block;
	padding: 0.8em 32px;
	cursor: pointer;
	background-color: teal;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 40%);
	color: white;
	font-size: 20px;
	font-weight: bold;
    transition: background-color 0.5s;
}

.theme-button:hover {
	background-color: darkcyan;
    transition: background-color 0.5s;
}

.theme-button:active {
    box-shadow: inset -7px -7px 12px rgba(255, 255, 255, 40%);
}

.container-wrapper {
    position: absolute;
    width: 80%;
    height: 75vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.page-button {
    position: absolute;
    font-size: xx-large;
    pointer-events: all;
    cursor: pointer;
}

.content-container {
    position: absolute;
    width: 80%;
    height: 75vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 60%);
    text-align: center;
    overflow-y: auto;
    overflow-wrap: break-word;
    padding: 10px;
    scrollbar-gutter: stable both-edges;
}

.content-container::-webkit-scrollbar {
    width: auto;
}

.content-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 60%);
    border-radius: 10px;
}

.content-container::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.content-container::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}

.content-container::-webkit-scrollbar-thumb:active {
    background-color: darkgray;
}

.search-box {
    position: fixed;
    width: 80%;
    height: 50px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 25px;
    background-color: slategray;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    display: none;
}

.search-box::placeholder {
    color: silver;
}

.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
 }
 
.glitch {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: black;
    letter-spacing: 3px;
    z-index: 1;
 }
 
.glitch::before,
.glitch::after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
 
.glitch::before {
    animation: glitch-anim 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: cyan;
    z-index: -1;
}
 
.glitch::after {
    animation: glitch-anim 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: red;
    z-index: -2;
}
 
@keyframes glitch-anim {
    from {
       transform: translate(0);
    }
    33% {
       transform: translate(-2px, -1px);
    }
    66% {
       transform: translate(2px, 1px);
    }
    to {
       transform: translate(0);
    }
}

@property --start-stop {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

@property --end-stop {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}