body {
    background-color: black;
    display: grid;
    grid-template-columns: 75vw 25vw;
    margin: 0;
}

.game-ui {
    display: grid;
    grid-template-rows: 62vh 38vh;
}

.game-container {
    display: flex;
    justify-content: center;
    background-image: url("background.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.game-sidebar {
    display: grid;
    grid-template-rows: 20vh 80vh;
}

.game-info {
    background-color: white;
    text-align: center;
    font-family: "IM FELL Double Pica";
}

.game-shop {
    background-color: gray;
}

.game-narrator {
    background-color: blue;
}

@font-face {
    font-family: "IM FELL Double Pica";
    src: url("im-fell-double-pica.roman.woff2") format("woff2");
}