body {
    background-color: black;
    display: grid;
    grid-template-columns: 80vw 20vw;
    margin: 0;
}

.game-ui {
    display: grid;
    grid-template-rows: 62vh 38vh;
}

.game-container {
    display: flex;
    justify-content: center;
    background-image: url("background.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.game-sidebar {
    background-color: lime;
}

.game-narrator {
    background-color: blue;
}